body{
  background-color: lightblue;
}

.container{
  margin: 20px auto;
  padding: 20px;
  border: 2px solid grey;
  border-radius: 20px;
  width: 600px;
  background-color: lightgreen;
}

h1{
  text-align: center;
  font-family: calibri;
}

.form{
  display: block;
  margin: 20px auto;
}

textarea{
  display: block;
  padding: 20px;
  margin: 20px auto;
  resize: none;
}

input{
  display: block;
  margin: auto;
}